.title {
    color: grey;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    margin-left: 80px;
    padding-top: 5px;
    width: 350px;
    height: 40px;
    box-shadow: 3px 3px 2px 2px rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    background-color: rgb(231, 228, 228);
    border-radius: 5px;
    border: 3px dotted rgb(75, 75, 75);
    text-align: center;
}

#randomNum {
    background-color: rgb(160, 209, 255);
    color: rgb(9, 9, 9);
    width: 90px;
    height: 20px;
    display: inline-block;
    border-radius: 4px;
    margin-bottom: 0%;
    padding-bottom: 0%;
    box-sizing: border-box;
    border: none ;
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, 0.4);
    margin-left: 360px;
} 
#randomNum:hover {
    background-color: rgb(90, 184, 251);
    color: rgb(255, 255, 255);
    width: 100px;
    height: 25px;
    display: inline-block;
    border-radius: 3px;
}

#numroom {
    width: 200px;
    height: 30px;
    background-image: linear-gradient(to bottom, rgb(222, 248, 255), rgb(78, 187, 227));
    margin-top: 30px;
    margin-left: 155px;
    border-radius: 4px;
    padding-bottom: 20px;
} 

/* #numInput {
    width: 200px;
    height: 30px;
    background-image: linear-gradient(to bottom, rgb(222, 248, 255), rgb(78, 187, 227));
    margin-top: 30px;
    margin-left: 145px;
    border-radius: 4px;
    text-align: center;
    border: none;
    padding-left: 20px;
} */

#num1 {
    font-size: 14pt;
    display: inline-block;
    padding-bottom: 5px;
    margin-left: 80px;
    text-align: center;
}
#num2 {
    font-size: 14pt;
    display: inline-block;
    margin-left: 3px;
    padding-bottom: 50px;
    text-align: center;
    margin-bottom: 20%;
}
.calroom {
    width: 80px;
    height: 110px;
    background-color: rgba(172, 247, 247, 0.5);
    margin-left: 215px;
    border-radius: 5px;
}
.stbutton {
    font-size: 20pt;
}
#btn1 {
    margin-left: 15px;
    margin-top: 15px;
    box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.2);
}

#btn2 {
    box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.2);
    font-size: 15px;
    padding-top: 0%;
}
#btn3 {
    margin-left: 15px;
    box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.2);
}

#btn4 {
    box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.2);
}

#result {
    width: 190px;
    height: 30px;
    background-color: rgb(231, 228, 228);
    margin-left: 155px;
    padding-left: 10px;
    padding-top: 5px;
    border-radius: 3px;
    margin-top: 0%;
}
    
#btn5 {
    font-size: 8pt;
    margin-left: 30px;
    box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.2);
}

#swap {
    background-color: rgb(160, 209, 255);
    color: rgb(9, 9, 9);
    width: 100px;
    height: 20px;
    display: inline-block;
    border-radius: 4px;
    box-sizing: border-box;
    border: none ;
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, 0.4);
}

#swap:hover {
    background-color: rgb(90, 184, 251);
    color: rgb(255, 255, 255);
    width: 110px;
    height: 25px;
    display: inline-block;
    border-radius: 3px;
}

/* #btn6 {
    font-size: 11pt;
    margin-left: 45px;
    box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.2);
    background-image: linear-gradient(to bottom, rgb(254, 245, 105), rgb(235, 178, 44));
    border: 1px solid black;
}

#btn6:hover {
    font-size: 11pt;
    margin-left: 45px;
    box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.2);
    background-image: linear-gradient(to bottom, rgb(242, 230, 66), rgb(194, 144, 28));
    border: 1px solid black;
} */

#hihi, #haha {
    border-radius: 4px;
    width: 100px;
    height: 25px;
    border: none;
    box-sizing: border-box;
    background-image: linear-gradient(to bottom, rgb(227, 184, 237), rgb(228, 132, 245));
    margin-left: 70px;
    display: inline-flexbox;
}

#convert, #convert2 {
    border-radius: 4px;
    border: none;
    box-sizing: border-box;
    background-color: rgb(221, 181, 242);
    font-weight: bold;
    width: 65px;
    height: 25px;
    box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.2);
    margin-left: 5px;
    display: inline-flexbox;
}

#convert:hover {
    border-radius: 4px;
    border: none;
    box-sizing: border-box;
    background-color: rgb(202, 136, 237);
    font-weight: bold;
    width: 65px;
    height: 25px;
    box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.2);
    margin-left: 5px;
    display: inline-flexbox;
}

#converted, #converted2 {
    border-radius: 4px;
    width: 200px;
    height: 25px;
    border: none;
    box-sizing: border-box;
    background-image: linear-gradient(to bottom, rgb(227, 184, 237), rgb(228, 132, 245));
    text-align: center;
    padding-top: 5px;
    margin-left: 10px;
    display: inline-block;
    margin-bottom: 0%;
    margin-top: 20px;
}

#ftoc {
    border-radius: 4px;
    border: none;
    background-color: rgb(246, 123, 0);
    font-size: 13px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
    height: 25px;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-left: 85px;
}

#ctof {
    border-radius: 4px;
    border: none;
    background-color: rgb(246, 123, 0);
    font-size: 13px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
    height: 25px;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-left: 10px;
}

#ftoc:hover {
    border-radius: 4px;
    border: none;
    background-color: rgb(255, 207, 149);
    font-size: 13px;
    color: black;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
    height: 25px;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#ctof:hover {
    border-radius: 4px;
    border: none;
    background-color: rgb(255, 207, 149);
    font-size: 13px;
    color: black;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
    height: 25px;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.title2 {
    color: rgb(0, 0, 0);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    margin-left: 80px;
    padding-top: 5px;
    width: 350px;
    height: 40px;
    box-shadow: 3px 3px 2px 2px rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    background-image: linear-gradient(to top, red, rgb(137, 178, 243));
    border-radius: 5px;
    border: 4px dotted rgb(0, 0, 0) inset;
    text-align: center;
}